/*!
 * Start Bootstrap - Landing Page (http://startbootstrap.com/template-overviews/landing-page)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-landing-page/blob/master/LICENSE)
 */

body, html {
  width: 100%;
  height: 100%;
  background:#EEF1F5;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.intro-header {
  text-align: center;
  color: #f8f8f8;
  background: url(../img/banner-main.jpg) no-repeat center center;
  background-size: cover;
  }

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
  height: 550px;
}

.intro-message>h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3.7em;
  text-align:left;
  width:60%;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message>h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  text-align:left;
  margin-top:10px;
}

.intro-social-buttons i {
  font-size: 80%;
}


.for-support  {
color:#fff; 
font-size:17px;
font-weight:bold;
float:right;
}

.container-main {
background-color: #fff;
width:60%;
color:#000000;
margin:0 auto;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
text-transform:uppercase;
padding:30px 60px;
height:70%;
}

.welcome-note h4  {
float:left;
width:100%;
margin-top:30px;
color:#CB1A0D;
}


.welcome-note  p {
float:left;
text-transform:none;
font-size:20px;
font-weight:lighter;
}

.proceed-btn   {
float:right;
width:30%;
margin-top:20px;
}

.proceed-btn p  {
background-color:#cb1a0d;
padding:10px;
text-align:center;
color:#fff;
font-size:14px;
width:100%;
}

.proceed-btn a {
text-decoration:none; 
color:#fff;
}

.footer-main {
  background-color:#9797A6;
  padding:10px;
  width:60%;
  margin:0 auto;
  height: 50px;
}

.footer-main img {
float:right;
}
 
.step1-header, .step2-header, .step3-header {
  padding:10px 30px;
  font-weight:bold;
  text-align: center;
  border-bottom: 1px rgba(203, 26, 13, 0.295) solid;
}

.active-header {
  background-color:#cb1a0d;
  color:#fff;
}
 

.header-text {
border-bottom:1px solid #ccc;
width:80%;
margin-left:30px;
margin-left:20px;
margin-top:20px;
font-size:20px;
font-weight:lighter;
color:#393939;
}

.header-text p {
margin-left:20px;
margin-top:20px;
font-size:20px;
font-weight:lighter;
color:#393939;
}

.form-container {
  width:100%;
  padding:18px;
}

.form-box  {
  width:90%;
  padding-left:30px;
  margin-top:30px;
}

.form-box p.section-title {
  color: #cb1a0d;
  font-size : 24px;
}

.form-box p.dollar-amount {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.immutable-form-box {
  height: 50px;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: 16px;
  font-size: 13px;
  padding-left: 30px;
}

.immutable-form-control {
  display : none;
}

.immutable-form-box .label, .immutable-form-box .value {
  height : 100%;
  background: #EEEEEE;
  padding: 16px;
}

section {
  margin-bottom: 15px;
}

.immutable-form-box .label {
  width: 70%;
  border-right: 1px #fff solid;
}

.immutable-form-box .value {
  width: 30%;
  padding-left: 5px;
  border-left: 1px #fff solid;
}

.form-box  p  {
color:#919191;
margin:0; 
padding:0;
text-transform:none;
font-weight:200;
}

.calender-icon {
background-color:#CB1A0D; 
padding:10px; 
width:20%; 
clear:both; 
float:left;
}

.form-control  {
background-color:#eee;
font-size:17px;
}

.submit-btn {
float:right;
background-color:#cb1a0d;
text-align:center;
color:#fff;
width:30%;
margin-top:30px;
margin-bottom:40px;
font-size:14px;
padding:10px;
margin-right:60px;
}


a.submit-btn, a.submit-btn:hover {
  text-decoration: none !important;
  color:white !important;
}

.successful-verification  {
text-align:center;
font-weight:bold;
font-size:30px;
padding-top:50px;
width:50%;
line-height:0.9cm;
margin:0 auto;
}

.verify-successful-icon {
margin-top:40px;
}


.create-a-btn {
background-color:#cb1a0d;
text-align:center;
color:#fff;
width:30%;
margin-top:30px;
margin-bottom:40px;
font-size:14px;
padding:10px;
}

.create-a-btn a {
text-decoration:none;
color:white;
}

.failed_message   {
text-align:center;
width:70%;
font-size:17px;
color:black;
margin:0 auto;
text-transform:none;
padding-top:10px;
}

.success-note  {
padding:40px;
}

.success-note p {
text-transform:none; 
font-size:17px;
font-weight:300;
margin-top:20px;
}

.card-container {
border:1px solid #ccc;
width:75%;
margin:0 auto;
border-radius:20px;
} 

.card-header {
background-color:#fff;
}

.card-body   {
background-image:url(../images/background.fw.png);
background-repeat:no-repeat;
}

.card-no  {
font-size:30px;
color:white;
text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
font-weight:400;
margin-top:20px;
}

.card-no  span {
margin-left:45px;
}


.card-validity   {
text-align:center;
font-size:20px;
color:white;
font-weight:200;
margin-top:10px;
}

.mastercard-logo  img {
margin-top:10px;
}

.card-name  {
 font-size:25px;
 font-weight:bold;
 text-shadow:0px 1px 0px #000;
 color:white;
}

.btm-btn {
background-color:#cb1a0d;
text-align:center;
color:#fff;
width:30%;
margin-top:30px;
margin-bottom:40px;
font-size:14px;
padding:10px;
}

.btm-btn a {
text-decoration:none;
color:white;
}

.btn-container  {
margin-right:80px;
} 


.container-main > div.row {
  margin : 0px;
}

#dollar .noUi-connect{
  background: #CB1A0D;
}

@media(max-width:767px) {

.container-main {
  width:100%;
  padding:30px 40px;
}

.welcome-note h2 {
font-size:26px;
}

.welcome-note h4   {
font-size:20px;
}

.welcome-note p   {
font-size:17px;
}

.proceed-btn {
width:40%;
}

.footer-main {
width:100%;
}

.footer-main img {
width:127px;
height:20px;
vertical-align:middle;
}

#create-a-card {
width:50%;
margin-right:40px;
}

.card-container  {
width:90%;
}  


.card-no  {
font-size:25px;
}

.card-no span {
margin-left:30px;
}

.card-validity  {
font-weight:bold;
}


.success-note  {
padding:20px;
}

.btm-btn {
width:50%;
}

.btn-container {
margin-right:20px;
}
}